---
title:      文章分类
layout:     default
permalink:  categories.html
---

<span class="article-title">{{ page.title }}</span>
<ul class="ul_box">
	{% for category in site.categories %} 
	<li><a href="/categories.html#{{ category[0] }}-ref">{{ category[0] }}</a><span>({{ category[1].size }})</span></li>
	{% endfor %}
</ul>
<br />

{% for category in site.categories %} 
<span class="article-title-light" id="{{ category[0] }}-ref">分类：{{ category[0] }}</span>
<ul class="ul_box">
	{% for node in category[1] %}
		<li><a href="{{node.url}}">{{node.title}}</a></li>
	{% endfor %}
</ul>
<br />
{% endfor %}
