
{% if site.title %}
	<div class="widget widget-none">
		<span>最新文章</span>
		<ul>
			{% for post in site.posts limit:5 %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if site.bookmarks %}
	<div class="widget widget-none">
		<span>热门文章</span>
		<ul>
			{% for bookmark in site.bookmarks %}
				<li><a href="{{ bookmark.url }}">{{ bookmark.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if site.links %}
	<div class="widget widget-none">
		<span>友情链接</span>
		<ul>
		{% for link in site.links %}
			<li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

{% if site.categories %}
	<div class="widget">
		<span>文章分类</span>
		<ul>
			{% for category in site.categories %} 
			<li><a href="/category.html?param={{ category[0] }}">{{ category[0] }}</a><span>({{ category[1].size }})</span></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% if site.tags %}
	<div class="widget">
		<span>文章标签</span>
		<ul>
			{% for tag in site.tags %} 
			<li><a href="/tag.html?param={{ tag[0] }}">{{ tag[0] }}</a><span>({{ tag[1].size }})</span></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}