/* @group Entry */

.entry, #pagination, #comments {
	/*margin-left: 55px;*/
}

.entry {
	margin-bottom: 45px;
}

/*
.entry-date {
	float: left;
	margin-left: -55px;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.entry-date div {
	font-size: 27px;
	color: #175158;
}
*/

.entry-footer {
	background: url(../images/appden/horizontal.png) repeat-x;
	margin-top: 10px;
	padding-top: 8px;
	font-size: 12px;
	line-height: 15px;
}

/*
.entry-comments {
	background-image: url(../images/appden/bubble.png);
	float: left;
	width: 40px;
	height: 36px;
	line-height: 28px;
	margin-right: 8px;
	text-align: center;
	font-size: 16px;
	color: white;
}
*/

/* @group Entry Contents */

.entry-contents {
	line-height: 1.4;
}

.entry-contents .entry-more {
	font-weight: bold;
	text-decoration: none;
}

.entry-contents .entry-more:hover {
	text-decoration: underline;
}

.entry-contents p,
.entry-contents pre,
.entry-contents > ul,
.entry-contents > ol {
	margin: 1em 0;
}

.entry-contents h3 {
	margin: 1em 0 0.5em;
}

.entry-contents a {
	text-decoration: underline;
}

.entry-contents sup.footnote a {
	text-decoration: none;
}

.entry-contents p.footnote,
.entry-contents blockquote {
	font-size: 0.9em;
}

.entry-contents blockquote {
	margin: 1em 2em;
	padding: 0 1em;
	border-left: 1px dotted #DDDDD9;
}

.entry-contents table {
	margin: 1em auto;
}

.entry-contents th {
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid black;
}

.entry-contents td,
.entry-contents th {
	padding: 0 1em;
}

.entry-contents td + td,
.entry-contents th + th {
	border-left: 1px solid black;
}

.entry-contents tr + tr {
	border-top: 1px solid black;
}

.entry-contents pre {
	padding: 0.5em 1em;
	line-height: 1.4;
	overflow: auto;
	background: transparent url(../images/appden/code.png) !important;
}

.entry-contents ul {
	list-style: disc outside;
}

.entry-contents ul ul {
	list-style: circle outside;
}

.entry-contents ol {
	list-style: decimal outside;
}

.entry-contents ol ol {
	list-style: lower-alpha outside;
}

.entry-contents li {
	margin-left: 3em;
}

.entry-contents .double-space li {
	margin-top: 1em;
	margin-bottom: 1em;
}

.entry-contents hr {
	background: url(../images/appden/horizontal.png) repeat-x;
	height: 3px;
	border: 0;
	margin: 0.5em 0;
}

/* @end */

/* @group Pagination */

#pagination {
	text-align: center;
}

#pagination .prev {
	float: left;
}

#pagination .next {
	float: right;
}

/* @end */