a {
	text-decoration: none;
	color: #c14c14;
}

/* header */
#header span {
	font-size: 12px;
	color: #8a8a8a;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

#header h1 a {
	margin-left: 55px;
}
/* header */

/* nav */
#nav {
	margin-left: 15px;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 900;
}

#nav a {
	margin-left: 35px;
}
/* nav */

#content img {
	width: 100%;
}


.article-title {
	font-size: 24px;
	font-weight: 900;
	color: #c14c14;
}

.article-title-light {
	font-size: 20px;
	font-weight: normal;
	color: #555;
}

.article-content {
	font-size: 14px;
	line-height: 1.6;
	font-weight: normal;
	color: #555;
}

.article-content-title {
	font-size: 16px;
	color: #c14c14;
}


.widget ul {
	padding-left: 18px;
}

.widget {
	font-size: 14px;
}

.widget ul span {
	color: #555;
}

.widget-none a {
	color: #4d6c70;
}

.widget-none ul {
	padding-left: 0px;
}

.widget-none ul li {
	list-style-type: none;
}


.ul_box {
	padding-left: 20px;
}

.ul_box li{
	margin: 4px auto 4px 2px;
}


#about {
	padding-top: 8px;
	padding-left: 5px;
}

#copyright {
	float: right;
	margin-right: 30px;
	text-align: right;
}

/* css below copy from: http://appden.com/lib/appden.css start... */
/* images '../images/appden/*.*' from: http://appden.com/  */

body {
	background-color: white;
	background-image: url(../images/appden/noise.png);
	color: #464646;
}

#header {
	margin: 5px auto 25px;
	width: 960px;
	height: 120px;
	background-image: url(../images/header.png);
	position: relative;
	overflow: hidden;
}

#content {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.content-background {
	background: url(../images/appden/vertical.png) repeat-y 760px 0px;
}

#alpha {
	float: left;
	width: 740px;
}

#beta {
	float: right;
	width: 160px;
}

.clear {
	clear: both;
}

/* @group Sidebar */

.widget {
	line-height: 1.2;
	overflow: hidden;
	margin-bottom: 20px;
}

.widget span {
	font-size: 15px;
	color: #c14c14;
	margin-bottom: 5px;
	font-weight: normal;
}

.widget ul {
	margin: 5px auto;
}

.widget li {
	margin: 4px auto 4px 2px;
}

.widget a {
	font-size: 14px;
}

#footer {
	clear: both;
	margin: 25px auto;
	width: 940px;
	overflow: hidden;
	font-size: 12px;
	color: #8a8a8a;
	line-height: 1.3;
	background: url(../images/appden/footer.png) no-repeat;
}

/* css below copy from: http://appden.com/lib/appden.css end... */